<form
  class="flex flex-col items-center justify-center gap-2 border border-gray-600 rounded-lg p-7 flex-1 bg-white"
  novalidate
  (ngSubmit)="guardar(); formtarea.reset()"
  #formtarea="ngForm"
>
  <input
    class="border p-2 rounded-lg border-gray-600 text-center"
    type="text"
    placeholder="Ingrese nombre tarea"
    [(ngModel)]="nombre"
    required
    name="nombre"
  />
  <textarea
    class="border p-2 rounded-lg border-gray-600"
    name=""
    id=""
    cols="30"
    rows="5"
    placeholder="Ingresa Descripción"
    [(ngModel)]="descripcion"
    required
    name="descripcion"
  ></textarea>
  <button
    type="submit"
    class="bg-blue-500 py-2 px-4 rounded-lg text-white"
    [disabled]="!formtarea.valid"
    [ngClass]="{ 'bg-blue-300': !formtarea.valid }"
  >
    Guardar
  </button>
</form>
